@import "resets";
@import "~bootstrap/scss/bootstrap";
@import "base";
@import "header";
@import "form";
@import "trips";
@import "footer";


.section {
  position: relative;
  height: 100vh;

  .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

#booking {
  font-family: montserrat, sans-serif;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(47, 103, 177, 0.6);
  }
}


.booking-cta {
  margin-bottom: 30px;

  h1 {
    font-size: 52px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
  }
}

.modal-backdrop.show {
  display: none !important;
}

.error {
  background: linear-gradient(to right, red, #e74c3c);
}

.success {
  background: linear-gradient(to right, green, #07bc0c);
}

.info {
  background: linear-gradient(to right, #00b09b, #96c93d);
}